{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'css/votar/candidatos.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votação RJ-45</title>
</head>
<body>
        <div class="title_01">
            <h1>Candidatos</h1>
        </div>
        <div class="grl">
            <div class="candidatos">
                <div class="rainha">
                    <div class="title_02">
                        <h2>Rainha</h2>
                    </div>
                    <div class="cand">
                        <div class="img_cand">
                            <img src="{% static 'images/votar/candidatos/candidato06.png' %}" width="60px" height="60px">
                        </div>
                        <div class="text">
                            Nome: Alana Almeida Barbosa
                            <br>
                            Turma: 2 IRC
                            <br>
                            Instagram: <a href="https://instagram.com/allana_.0?igshid=YmMyMTA2M2Y=">@alana_.0</a>
                        </div>
                    </div>
                    <div class="cand">
                        <div class="img_cand">
                            <img src="{% static 'images/votar/candidatos/candidato07.jpeg' %}" width="60px" height="60px">
                        </div>
                        <div class="text">
                            Nome: Eloane Andrade da Costa
                            <br>
                            Turma: 1 IRC
                            <br>
                            Instagram: <a href="https://instagram.com/eloanecosta_?igshid=YmMyMTA2M2Y=">@eloanecosta_</a>
                        </div>
                    </div>
                    <div class="cand">
                        <div class="img_cand">
                            <img src="{% static 'images/votar/candidatos/candidato08.png' %}" width="60px" height="60px">
                        </div>
                        <div class="text">
                            Nome: Kamila Santos Rodrigues
                            <br>
                            Turma: 1 IRC
                            <br>
                            Instagram: <a href="https://instagram.com/kkk.kaah?igshid=YmMyMTA2M2Y=">@kkk.kaah</a>
                        </div>
                    </div>
                    <div class="cand">
                        <div class="img_cand">
                            <img src="{% static 'images/votar/candidatos/candidato09.png' %}" width="60px" height="60px">
                        </div>
                        <div class="text">
                            Nome: Milena Oliveira Dall Agnol
                            <br>
                            Turma: 2 IRC
                            <br>
                            Instagram: <a href="https://instagram.com/milena_dallagnol?igshid=YmMyMTA2M2Y=">@milena_dallagnol</a>
                        </div>
                    </div>
                    <div class="cand">
                        <div class="img_cand">
                            <img src="{% static 'images/votar/candidatos/candidato10.png' %}" width="60px" height="60px">
                        </div>
                        <div class="text">
                            Nome: Monik Andrade Santos
                            <br>
                            Turma: 2 IRC
                            <br>
                            Instagram: <a href="https://instagram.com/monik_maskes_?igshid=YmMyMTA2M2Y=">@monik_maskes_</a>
                        </div>
                    </div>
                </div>
                <div class="rei">
                    <div class="title_02">
                        <h2>Rei</h2>
                    </div>
                    <div class="candidatos">
                        <div class="cand">
                            <div class="img_cand">
                                <img src="{% static 'images/votar/candidatos/candidato01.png' %}" width="60px" height="60px">
                            </div>
                            <div class="text">
                                Nome: Guilherme Mendes Araújo
                                <br>
                                Turma: 2 IRC
                                <br>
                                Instagram: <a href="https://instagram.com/gui.mendes33?igshid=YmMyMTA2M2Y=">@gui.mendes33</a>
                            </div>
                        </div>
                        <div class="cand">
                            <div class="img_cand">
                                <img src="{% static 'images/votar/candidatos/candidato02.jpeg' %}" width="60px" height="60px">
                            </div>
                            <div class="text">
                                Nome: Guilherme Pereira Rodrigues
                                <br>
                                Turma: 1 IRC
                                <br>
                                Instagram: <a href="https://instagram.com/guilhermee_159?igshid=YmMyMTA2M2Y=">@guilhermee_159</a>
                            </div>
                        </div>
                        <div class="cand">
                            <div class="img_cand">
                                <img src="{% static 'images/votar/candidatos/candidato03.png' %}" width="60px" height="60px">
                            </div>
                            <div class="text">
                                Nome: Kauã Eduardo Andrade de Lima
                                <br>
                                Turma: 2 IRC
                                <br>
                                Instagram: <a href="https://instagram.com/kaduhzz_?igshid=YmMyMTA2M2Y=">@kaduhzz_</a>
                            </div>
                        </div>
                        <div class="cand">
                            <div class="img_cand">
                                <img src="{% static 'images/votar/candidatos/candidato04.jpeg' %}" width="60px" height="60px">
                            </div>
                            <div class="text">
                                Nome: Luíz Antônio Morais Carvalho
                                <br>
                                Turma: 1 IRC
                                <br>
                                Instagram: <a href="https://instagram.com/iae.luiis?igshid=YmMyMTA2M2Y=">@iae.luiis</a>
                            </div>
                        </div>
                        <div class="cand">
                            <div class="img_cand">
                                <img src="{% static 'images/votar/candidatos/candidato05.jpeg' %}" width="60px" height="60px">
                            </div>
                            <div class="text">
                                Nome: Saulo Costa Chaves Silva
                                <br>
                                Turma: 1 IRC
                                <br>
                                Instagram: <a href="https://instagram.com/saulocchaves?igshid=YmMyMTA2M2Y=">@saulocchaves</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
