{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'css/votar/candidatos.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votação RJ-45</title>
</head>
<body>
    <div class="bg">
        <div class="grl">
            <div class="msg">
                <div class="title">
                    <h1>Comunicado</h1>
                </div>
                <div class="info">
                    <h2>Página em desenvolvimento</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <footer>
            <h3> Site desenvolvido  pela equipe Beyond Studios, 
                <br>
                2° IRC do Instituto Federal de Sergipe Campus Lagarto em 2022.
            </h3>
        </footer>
    </div>
</body>
</html>