{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/votar/votar.css' %}">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Votação RJ-45</title>
</head>
<body class="body">
  <script>
    function openWindow(url){
        window.open(url, "_self");
    }
</script>
  <div class="bg">
    <div>
      {% if messages %}
      <ul class="alert alert-warning messages" id="message">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ messages.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <div>
    </div>
    <div>
      <img class="img" src="{% static 'images/votar/votar.png' %}">
    </div>
    <div class="bg_top">
      <div class="text">
        <h1 class="h1">
          Votação
          <br>
          RJ-45
        </h1>
      </div>
      <div class="text">
        <form method="post">
          {% csrf_token %}
          <div>
            <b>Matricula</b> <br>
            <input class="input" type="number" name="matricula">
          </div>
          <br>
          <div>
            <b>Rainha do RJ-45</b> <br>
            <select class="select" name="voto_rainha">
              <option value="0" selected>Escolha sua Rainha</option>
              <option value="6" class="option">{{ candidato6 }}</option>
              <option value="7" class="option">{{ candidato7 }}</option>
              <option value="8" class="option">{{ candidato8 }}</option>
              <option value="9" class="option">{{ candidato9 }}</option>
              <option value="10" class="option">{{ candidato10 }}</option>
            </select>
          </div>
          <br>
          <div>
            <b>Rei do RJ-45</b> <br>
            <select class="select" name="voto_rei">
              <option value="0" selected>Escolha seu Rei</option>
              <option value="1" class="option">{{ candidato1 }}</option>
              <option value="2" class="option">{{ candidato2 }}</option>
              <option value="3" class="option">{{ candidato3 }}</option>
              <option value="4" class="option">{{ candidato4 }}</option>
              <option value="5" class="option">{{ candidato5 }}</option>
            </select>
          </div>
          <br>
          <div>
            <h6 class="h6" onclick="openWindow(/candidatos/)">Saiba mais sobre os candidatos!</h6>
          </div>
          <br>
          <div>
            <button class="button" type="submit">Votar</button>
          </div>
        </form>
      </div>
    </div>
    <div>
      <div class="text_credits">
        Site desenvolvido  pela Athenas Dev, <br>
        2° IRC do Instituto Federal de Sergipe Campus Lagarto em 2022.
      </div>
    </div>
  </div>
  <script>
    setTimeout(() => {
      const message = document.getElementById('message');
      message.style.visibility = 'hidden';
      }, 2500);
  </script>
</body>
</html>