* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    z-index: -2;
    background: linear-gradient(100deg, #4E5B60, #8E9DA3);
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
    bottom: 0;
    }
.grl {
    z-index: 0;
    margin-bottom: 9%;
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.title_01 {
    z-index: 0;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 2%;
    border: none;
}
.title_02 {
    z-index: 0;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.img_cand {
    margin-top: 0.5px;
    margin-left: 4px;
    z-index: 0;
    border-radius: 15px;
    padding: 0;
    border-radius: 2%;
    width: 65px;
    height: 50px;
}
.cand {
    z-index: 0;
    display: flex;
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    background: #8E9DA3;
    max-width: 350px;
    width: 100%;
    height: 55px;
    border-radius: 15px;
    text-align: left;
    font-size: 14px;
    padding: 10px 0px;
}
.cand:hover {
    background: #4E5B60;
}
.text {
    z-index: 0;
    margin-top: 3px;
}
/*celular*/
@media screen and (min-width: 300px) {
    body {
    z-index: -2;
    background: linear-gradient(100deg, #4E5B60, #8E9DA3);
    }
    .bg {
        background: transparent;
    }
    .text {
        margin-left: 25px;
    }
}
/*pc*/
@media screen and (min-width: 1000px) {
    .img_cand {
        width: 75px;
        height: 75px;
    }
    .rainha {
        z-index: 0;
        border: none;
        position: absolute;
        left: 14%;
        width: 25%;
    }
    .rei {
        z-index: 0;
        border: none;
        position: absolute;
        left: 61.5%;
        width: 25%;
    }
    .text {
        margin-left: 3px;
    }
}
