body {
    color: white;
}

.bg {
    background: linear-gradient(#4E5B60, #8E9DA3); 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;
}
.msg {
    margin-top: -4%;
    background: rgb(139, 139, 139);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 2%;
    z-index: 0;
}
.footer {
    position: absolute;
    padding: 5px;
    text-align: center;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: auto;
    bottom: 0%;
    font-size: 10px;
}